.panel {
    ul {
        li {
            list-style: none;
            a {
                display: flex;
                align-items: center;
                color: #151515;
                width: 14rem;
                min-height: 2.8rem;
                text-decoration: none;
                &:hover {
                    font-weight: 600;
                }
            }
        }
        .active {
            background: #f3f3f3;
            a {
                color: #316DC1;
            }
        }
    }
}
