<div class="application-panel">
    <form action="channel">
        <p>
            Select Application<span class="red">*</span>
        </p>
        <ul>
            <li>
                <input type="checkbox" name="application-name" id="outage">
                <label for="outage"> Outage Management</label>
            </li>
            <li>
                <input type="checkbox" name="application-name" id="tsCatalog">
                <label for="tsCatalog"> TS Catalog</label>
            </li>
            <li>
                <input type="checkbox" name="application-name" id="dsal">
                <label for="dsal"> DSAL</label>
            </li>
        </ul>
        <div class="submit">
            <button type="submit" class="btn-primary">
                Next
            </button>
        </div>
    </form>
</div>