<div class="app">
  <nav>
    This is a nav bar
  </nav>
  <div class="contact">
    <ul class="contact--block">
      <li class="contact--block__card" *ngFor="let contact of contacts" (click)="openModal(contact)">
         {{ contact.name[0] }}
      </li>
    </ul>
  </div>
</div>

<!-- Hidden button-->
<button type="button" #modalToggle class="btn btn-primary" data-toggle="modal" data-target="#contactModal" hidden></button>

<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
          <em class="fa fa-edit"></em> Edit
        </button>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
          <em class="fa fa-trash-alt"></em> Remove
        </button>
      </div>
      <div class="modal-body">
        <span class="modal-body__header">{{ modalInfo?.name }}</span>
        <ul>
          <li>
            <label> <em class="fa fa-envelope"></em> Email </label> <input type="email" name="email" id="email" [value]="modalInfo?.email" [readOnly]="true">
          </li>
          <li>
            <label> <em class="fa fa-phone"></em> Contact </label> <input type="tel" name="phone" id="phone" [value]="modalInfo?.phone" [readOnly]="true">
          </li>
          <li>
            <label> <em class="fa fa-address-book"></em> Address </label> <input type="text" name="text" id="text" [value]="modalInfo?.address" [readOnly]="true">
          </li>
          <li>
            <label>  <em class="fa fa-birthday-cake"></em> Birthday </label> <input type="date" name="date" id="date" [value]="modalInfo?.birthday" [max]="modalInfo?.birthday"  [readOnly]="false">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
