<div class="notification-channel-panel">
    <form action="trigger">
        <p>
            Select Application<span class="red">*</span>
        </p>
        <ul>
            <li>
                <input type="checkbox" name="application-name" id="email">
                <label for="email"> Email</label>
            </li>
            <li>
                <input type="checkbox" name="application-name" id="popup">
                <label for="popup"> Popup Notification</label>
            </li>
            <li>
                <input type="checkbox" name="application-name" id="banner">
                <label for="banner"> Banner </label>
            </li>
        </ul>
        <div class="submit">
            <button type="submit" class="btn-primary">
                Next
            </button>
        </div>
    </form>
</div>